.contact-form {
  background-image: url(assets/images/footer_background.jpg);
  background-size: cover;

  .contact-container {
    padding: 75px 0;
    .contact-header-text {
      text-align: center;
      color: white;
    }

    .contact-header-text h3 {
      margin: 0;
      font-size: 25px;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .first-row {
        display: flex;
        justify-content: center;

        .input-element {
          padding: 10px;
        }
      }

      input,
      textarea {
        border-radius: 3px;
        border-style: none;
        padding: 15px;
      }

      input {
        width: 230px;
      }

      textarea {
        width: 730px;
        height: 100px;
      }

      .submit-button {
        background-color: $orange-color;
        border: solid 1px $orange-color;
        border-radius: 15px;
        padding: 8px 15px;
        width: min-content;
        margin: 15px auto;
      }

      .submit-button button {
        border: none;
        background: none;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .first-row {
    flex-direction: column;
  }

  textarea {
    width: 230px !important;
  }
}
