.footer {
  .footer-container {
    display: flex;
    background-color: #171513;
    padding: 30px 54px;
    color: $text-grey;

    .left-side {
      flex: 1 1 50%;
      padding: 5px;
    }

    .right-side {
      display: flex;
      align-items: center;
      padding: 5px;
    }
    .right-side a {
      padding-left: 8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    .right-side {
      padding: 15px !important;
    }
    .left-side {
      text-align: center;
    }
  }
}
