.landing-banner {
  background-image: url(assets/images/banner_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 8vh 8vw 25vh 8vw;

    .banner-header {
      text-align: center;
    }

    .services-list {
      display: flex;
      padding: 0;

      .service {
        display: flex;
        flex-direction: column;
        border: 1px solid $border-grey;
        text-align: center;
        padding: 30px;
        margin: 10px;
        align-items: center;
      }

      .service:first-child {
        border-radius: 8px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .services-list {
    flex-direction: column !important;

    .service {
      flex-direction: row !important;
      height: 10vh;
      width: 70vw;

      .service-label {
        margin-left: 20px;
      }
    }
  }
}
