.testimonials {
  background: #f7f7f7;

  .testimonials-container {
    .testimonial-header {
      text-align: center;
      color: $text-grey;
      padding-top: 10vh;
      margin: 0;
    }

    #client-testimonials {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

.testimonial-item {
  display: block;
  cursor: pointer;

  .testimonial-text {
    text-align: left;
  }

  .shadow-effect {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 1px #444, 0 5px 9px #444;
  }

  .shadow-effect:after {
    content: '';
    position: absolute;
    background: #fff;
    height: 26px;
    width: 26px;
    transform: rotate(46deg);
    bottom: -13px;
    left: 48px;
    box-shadow: 0px 3px 9px #fff, 5px 5px 4px #444;
  }

  .client-name {
    margin-top: 30px;
    text-align: left;
    padding: 0 19px;
    display: flex;
  }
}

#client-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

#client-testimonials .testimonial-item {
  text-align: center;
  padding: 50px;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  max-width: 60px;
  float: left;
  margin-right: 27px;
}
