@import 'config/**/*.scss';
@import 'variables';
@import 'header';
@import 'landingbanner';
@import 'about';
@import 'testimonials';
@import 'contact';
@import 'footer';

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: sans-serif;
}
