<div class="testimonial-item">
    <div class="shadow-effect">
    <p class="testimonial-text">{{ text }}</p>
    </div>
    <div class="client-name">
        <img class="img-circle" src="assets/images/person_avatar.png" alt="client picture"> 
        <span>
            <p>{{ name }}</p>
            <p> <span>{{ position }}</span>,<span> {{ org }} </span></p>
        </span>
    </div>
</div>
