<section class="about-section">
    <div class="about-container">
        <div class="about-left-panel">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h3>
            <p>
                Tempus imperdiet nulla malesuada pellentesque elit eget. Suscipit tellus mauris a diam maecenas sed enim ut sem. 
                Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque.
                Montes nascetur ridiculus mus mauris vitae ultricies leo integer. 
                Aliquam sem et tortor consequat id porta nibh venenatis cras. 
                Et malesuada fames ac turpis egestas integer eget aliquet. 
                Sed pulvinar proin gravida hendrerit. Ipsum a arcu cursus vitae 
                congue mauris rhoncus aenean. Mauris vitae ultricies leo integer malesuada. 
            </p>
        </div>
         <div class="about-right-panel">
            <img src="assets/images/about-us.png" alt="about us background"/>
        </div>
    </div>
</section>