<section class="footer">
    <div class="footer-container">
        <div class="left-side">
            <span>Copyright &copy;2017 all rights reserved</span>
        </div>
         <div class="right-side">
            <span>Follow Us on:</span>
            <a href="#"><span class="social-icons"><img src="assets/images/fb_icon.png" alt="go to facebook page"/></span></a>
            <a href="#"><span class="social-icons"><img src="assets/images/linked_icon.png" alt="go to linked in page"/></span></a>
            <a href="#"><span class="social-icons"><img src="assets/images/twitter_icon.png" alt="go to twitter page"/></span></a>
            <a href="#"><span class="social-icons"><img src="assets/images/mail_icon.png" alt="mail us"/></span></a>
        </div>
    </div>
</section>