<section class="contact-form">
    <div class="contact-container">
        <div class="contact-header-text">
            <h3>Convinced To Work With Us?</h3>
            <p>Company has helped agencies keep their promises to clients since 2015.</p>
        </div>
        <form class="form-container">
            <div class="first-row">
                <div class="input-element">
                    <input required type="text" placeholder="Fullname">
                </div>
                <div class="input-element">
                    <input required type="email" placeholder="Email Address">
                </div>
                <div class="input-element">
                    <input required type="number" placeholder="Phone Number">
                </div>
            </div>
            <div class="input-element">
                <textarea required placeholder="Message in brief"></textarea>
            </div>
            <div class="submit-button input-element">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>