<section class="navbar">
    <nav class="navbar-items">
        <div class="navbar-link navbar-menu-button">
            <img src="assets/images/menu_list.png"/>
        </div>
        <div class="company-logo">
            COMPANY <span class="orange-color-text">LOGO</span>
        </div>
         <div class="chat-icon">
            <img src="assets/images/chat_icon.png"/>
        </div>
    </nav>
    <nav class="navbar-items navbar-items-right">
        <div class="navbar-link">
            About
            <div>
                <p><a href="#">Our Stories</a></p>
                <p><a href="#">Why Company</a></p>
                <p><a href="#">Success Stories</a></p> 
                <p><a href="#">Careers</a></p>          
            </div>      
        </div>
        <div class="navbar-link">
            Services
        </div>
        <div class="navbar-link">
            Solutions
        </div>
        <div class="navbar-link">
            Blog
        </div>
        <div class="navbar-link get-in-touch">
            <img src="assets/images/chat_icon.png"/>
            <span>Get In Touch<span>
        </div>
    </nav>
</section>