<section class="landing-banner">
        <div class="banner-content">
            <h2 class="banner-header">Integer bibendum sit amet<br/>arcu vel egestas.</h2>
            <div class="services-list">
                <div class="service">
                    <img src="assets/images/service1.png" alt="" />
                    <p class="service-label">Service Name</p>
                </div>
                <div class="service">
                    <img src="assets/images/service2.png" alt="" />
                    <p class="service-label">Service Name</p>
                </div>
                <div class="service">
                    <img src="assets/images/service3.png" alt="" />
                    <p class="service-label">Service Name</p>
                </div>
            </div>
        </div>
</section>